<launch>
    <arg name="camera_info"
       default="/multisense_local/left/camera_info" />

    <node name="robot_to_mask_image_rarm"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_perception/RobotToMaskImage">
      <!-- args="load jsk_perception/RobotToMaskImage "> -->
      <remap from="~input/camera_info" to="$(arg camera_info)"/>
      <rosparam>
        robot_description: "JAXON_RED"
        self_see_links:
          <!-- - name: RARM_LINK7   -->
          - name: RARM_FINGER0
          - name: RARM_FINGER1
          <!-- jikki -->
          <!-- - name: R_thk_finger1 -->
          <!-- - name: R_thk_finger2 -->
          <!-- - name: R_thk_palm -->
        self_see_default_padding: 0.1
      </rosparam>
    </node>

    <node name="robot_to_mask_image_larm"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_perception/RobotToMaskImage">
      <remap from="~input/camera_info" to="$(arg camera_info)"/>
      <rosparam>
        robot_description: "JAXON_RED"
        self_see_links:
          <!-- - name: LARM_LINK7   -->
          - name: LARM_FINGER0
          - name: LARM_FINGER1
          <!-- jikki -->
          <!-- - name: L_thk_finger1 -->
          <!-- - name: L_thk_finger2 -->
          <!-- - name: L_thk_palm -->
        self_see_default_padding: 0.1
      </rosparam>
    </node>    

</launch>
